#menu {
    background-color: var(--dark-color);
    color: rgb(126, 126, 126);
    position: absolute;
    margin: 0;
    padding: 2vw;
    /* border-radius: 20px; */
    box-shadow: 5px 5px 20px 5px rgb(20, 20, 20);
    width: 38.5%;
    left: 5%;
}

#menu input[type=text] {
    font-size: larger;
    border: none;
    border-radius: 5px;
    background-color: var(--light-color);
    color: var(--dark-color);
    text-align: center;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
}

#menu #picker {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1vmax;
    margin-bottom: 1vmax;
}
#menu #picker * > p {
    margin: 0;
    font-size: large;
    color: var(--light-color);
}
#menu #picker * > input {
    margin: 0;
    margin-top: 12px;
    width: 100%;
    height: 12px;
    transform: translateY(-8px);
    -webkit-appearance: none;
    background-color: var(--light-color);
}


#menu #picker * > input:focus {
    outline: none;
}
/* Chrome */
#menu #picker * > input::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: var(--light-color);
}
#menu #picker * > input:focus::-webkit-slider-runnable-track {
    background: var(--light-color);
}
/* Firefox */
#menu #picker * > input::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: var(--light-color);
}
/* Rest */
#menu #picker * > input::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: var(--light-color);
}

/* Chrome */
#menu #picker * > input::-webkit-slider-thumb {
    box-shadow: none;
    border: 2px solid var(--dark-color);
    height: 25px;
    width: 20px;
    border-radius: 0 0 10px 10px;
    background: #ffffff;
    cursor: pointer;

    -webkit-appearance: none;
    margin-top: -2px;
}
#menu #picker * > input::-webkit-slider-thumb:hover {
    background: rgb(0, 204, 255);
}
/* Firefox */
#menu #picker * > input::-moz-range-thumb {
    box-shadow: none;
    border: 2px solid var(--dark-color);
    height: 25px;
    width: 20px;
    border-radius: 0 0 10px 10px;
    background: #ffffff;
    cursor: pointer;

    transform: translateY(6px);
}
#menu #picker * > input::-moz-range-thumb:hover {
    background: rgb(0, 204, 255);
}
/* Rest */
#menu #picker * > input::-ms-thumb {
    box-shadow: none;
    border: 2px solid var(--dark-color);
    height: 25px;
    width: 20px;
    border-radius: 0 0 10px 10px;
    background: #ffffff;
    cursor: pointer;

    transform: translateY(8px);
}


#menu #hex {
    text-align: center;
    margin: 1vmax 0 1vmax 0;
}
#menu #hex input {
    width: 100%;
}

#menu #io {
    display: flex;
    grid-gap: 1vmax;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 1vmax;
}
#menu #io > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#menu #io input {
    width: 100%;
}
